body{
    background: url(https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* containter{
    margin-top: 200px;
} */
.container .jumbotron{
    margin-top: 200px;
    background: orange;
    color: white;
}

table,tr,td,thead,th{
    border: 2px solid wheat;
    font-size: 30px;
    color: white;
    background: rgb(124, 158, 57);
    margin: auto;
}

h1{
    text-align: center;
}
