.content{
    width: 66%;
    float: left;  
    padding: 0 0 0 30px;
    background: rgb(240, 95, 95);
}

.sidebar{
    width: 30%;
    float: right;
    padding: 10px;
    background: rgb(73, 136, 73);
    height: 100%;
}

h1{
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;

}

/* body{
    color: wheat;
} */

#date{
    color: rgb(14, 14, 5);
    font-size: 12px;
    font-style: italic;
} 